@media print {
    img {
        display: none;
    }
}

@media screen {
    header p {
        display: none;
    }
}

* {
    box-sizing: border-box;
    font-family: Roboto, Arial, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

html {
    font-size: 15px;
}

h1, h3 {
    font-family: "Roboto Serif", Arial, Tahoma, sans-serif;
    font-weight: 600;

}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
}

caption {
    border: 1px solid black;
    border-bottom-width: 0;
    background-color: #ccc;
    font-weight: 800;
}

th, td, caption {
    padding: 10px;
}

th {
    background-color: #880000;
    color: #eeeeee;
    text-align: left;
}

tr {
    background-color: #d7eed7;
}

tr:hover {
    background-color: #c8c8c8;
}

input[type="text"], input[type="password"], textarea, select, [type="submit"] {
    padding: 10px;
    border: 1px solid #aaa;
    background-color: #eee;
    width: 100%;
}

[type="submit"] {
    background-color: rgb(172, 31, 31);
    margin-top: 20px;
    color:#eee;
}

[type="submit"]:hover {
    background-color: rgb(124, 0, 0);
    cursor: pointer;
}

label {
    display: block;
    padding: 10px;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

legend {
    font-weight: 700;
}

fieldset label {
    display: inline;
}