@media print {
    img {
        display: none;
    }
}

@media screen {
    header p {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

p[id="info"] {
    background-color: rgba(150, 180, 0, 0.548);
    /*
    rgba(150, 180, 0, 0.548);
    rgb(150, 180, 0);
    #99bb00
    #9b0
    red
    */
}
/* prawie takie samo znaczneie jak p[id="info"]
p#info {
    background-color: orange;
}
*/

p[class="para1"] {
    background-color: green;
}

/* takie samo znaczneie jak p[class="para1"]
p.para1 {
    background-color: green;
}
*/

body fieldset p#info {
    background-color: violet;
}

body fieldset p#info:hover {
    background-color: red;
}

p {
    background-color: yellow;
}

fieldset p {
    background-color: red;
}

fieldset > p {
    background-color: blue;
}
