@media print {
    img {
        display: none;
    }
}

@media screen {
    header p {
        display: none;
    }
}

* {
    box-sizing: border-box;
    font-family: Roboto, Arial, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

html {
    font-size: 15px;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

h1, h3 {
    font-family: "Libre Baskerville", Arial, Tahoma, sans-serif;
    font-weight: 700;

}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.content {
    padding: 10px;
}

table {
    border-collapse: collapse;
}

caption {
    border: 1px solid black;
    border-bottom-width: 0;
    background-color: #ccc;
    font-weight: 800;
}

th, td, caption {
    padding: 10px;
}

th {
    background-color: #880000;
    color: #eeeeee;
    text-align: left;
}

tr {
    background-color: #d7eed7;
}

tr:hover {
    background-color: #c8c8c8;
}

input[type="text"], input[type="password"], textarea, select, [type="submit"] {
    padding: 10px;
    border: 1px solid #aaa;
    background-color: #eee;
    width: 100%;
}

[type="checkbox"], [type="radio"] {
    width: 18px;
    height: 18px;
}

[type="submit"] {
    background-color: rgb(172, 31, 31);
    margin-top: 20px;
    color:#eee;
}

[type="submit"]:hover {
    background-color: rgb(124, 0, 0);
    cursor: pointer;
}

label {
    display: block;
    padding: 10px;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

legend {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
}

fieldset label {
    display: inline;
}

.poczestunek {
    padding-left: 5px;
    font-weight: 500;
    margin-top: 30px;
    font-size: 1.2rem;
}

header > div {
    position: fixed;
    background-color: rgba(129, 32, 32, 0.7);
    width: 100%;
    font-size: 1.5rem;
    color: white;
    top: 0;
}

header {
    padding-top: 1rem;
    margin-top: 20px;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lewa {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}